.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 15px;
  padding: 20px;
  text-align: center;
  color: aliceblue;
  vertical-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
